<div class="row">
    {{#each notas}}
    <div class="col-md-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                    {{titulo}} <a href="/notas/editar/{{_id}}"> <i class="fas fa-edit"></i></a>
                </h4>
                <p>{{descripcion}}</p>
                <form action="/notas/borrar/{{_id}}?_method=DELETE" method="POST">
                    <input type="hidden" name="_method" value="DELETED">
                    <button class="btn btn-danger btn-block btn-sm" type="submit">
                        Borrar
                    </button>

                </form>
            </div>
        </div>
    </div>
    {{else}}
        <div class="card mx-auto">
            <div class="card-body">
                <h1>Hola {{usuario.nombre}}</h1>
                <p class="lead">No hay notas</p>
                <a href="/notas/agregar" class="btn btn-success btn-block">Crear nueva nota</a>
            </div>
        </div>

    {{/each}}
</div>